<% provide(:title, 'Sponsors') %>
<h3>Sponsors</h3>
<%= image_tag("sponsors/nu.jpg", class: 'center-block', width: '640') %>
<div align="center" style="padding-top:30px;">
	<%= image_tag("sponsors/Thermo.jpg", width: '250') %>
	<%= image_tag("sponsors/PerkinElmer.png", width: '250') %>
	<%= image_tag("sponsors/ifm.jpg", width: '250') %>
</div>

<div align="center" style="padding-top:40px;">
	<%= image_tag("sponsors/hp.png", width: '85') %>
	<%= image_tag("sponsors/bar-ilan.png", width: '90') %>
	<%= image_tag("sponsors/triskem.jpg", width: '90') %>
	<%= image_tag("sponsors/rotem.png", width: '90') %>
</div>
