<% provide(:title, 'Conference Venue') %>
<h3>Conference Venue</h3>
<strong>Crowne Plaza Hotel 5* - Jerusalem</strong><br />
<br />
<p>Location: Crowne Plaza Jerusalem is located in the center of town, towering over the Givat Ram area. It is located near the "Knesset"- the Israeli parliament and Government complex buildings and near the Hebrew University.
</p>

<p>It is also close to the Court of Justice, with its impressive architectural structure. The hotel is 30 minutes from TLV airport (Ben-Gurion International Airport) and 45 minutes from Tel Aviv – the non-stop city. It is also 30 minutes from the Dead Sea and the Jorden river.</p>

<p>From the Crowne Plaza in Jerusalem it is less than a 10-minute walk to the Machane Yehuda outdoor marketplace, where boisterous traders will tease you with mountains of olives and blocks of halvah or offer you cardamom-spiced coffee. Stroll another 30 minutes to reach Damascus Gate, where 3,000 years of history is crammed inside the Old City walls.</p>

<p>Inside the hotel, the Fitness Center's sauna and treatment rooms invite you to indulge in some me-time. Challenge friends to tennis at complimentary courts or plunge into the indoor pool covered with a retractable roof. Younger guests will find a children's playground and children's Club.</p>

<%= link_to("Link to hotel website", "http://www.crowneplaza.com/hotels/gb/en/jerusalem/jrscp/hoteldetail?qAdlt", :target => "_blank") %>


<p style="margin-top: 20px;">
	<strong>Transportation</strong>
	<br />
		The conference venue, Crowne Plaza, is located at the entrance to Jerusalem and is about a 30 minute drive from Ben-Gurion Airport.<br />
	You may reach the conference venue from the airport using several different traveling options (
	<%= link_to("http://www.iaa.gov.il/en-US/airports/bengurion/Pages/ArrivingPassengers.aspx", "http://www.iaa.gov.il/en-US/airports/bengurion/Pages/ArrivingPassengers.aspx") %> ).
	<br />Shuttle taxi might be the best compromise between price and comfort.

<ol>
	<li>Taxi  - <%= link_to("http://www.iaa.gov.il/en-US/airports/bengurion/Transportation/Pages/Taxi.aspx", "http://www.iaa.gov.il/en-US/airports/bengurion/Transportation/Pages/Taxi.aspx") %><br /> The taxi service is provided under the supervision of the Israe Airport Authority. The taxi station and dispatcher post are located in front of the Terminal on Level G, near the exit through Gate 01. The cost of a taxi is slightly less than 300 NIS per taxi, depending on the number of people in the taxi.
	</li>
	<li> Shuttle taxi - <%= link_to("http://www.iaa.gov.il/en-US/airports/bengurion/Transportation/Pages/Taxi.aspx", "http://www.iaa.gov.il/en-US/airports/bengurion/Transportation/Pages/Taxi.aspx") %><br />
		<%= link_to("http://www.neshertours.co.il/about-us", "http://www.neshertours.co.il/about-us") %><br /> Shared-ride and taxi and microbus service to Jerusalem is provided by “Nesher”. Service taxis to Jerusalem and the surrounding regions depart from the service post on Level G, next to Gates 01-03. There are signs directing to the post.<br />
		The cost of a shuttle taxi is about 69 NIS per person to the conference venue (note that shuttle taxis might make multiple stops prior to reaching your final destination). You should notify the driver of your destination.
	</li>
	<li> Public transportation (bus) - <%= link_to("http://www.iaa.gov.il/en-US/airports/bengurion/Transportation/Pages/PublicTransportation.aspx", "http://www.iaa.gov.il/en-US/airports/bengurion/Transportation/Pages/PublicTransportation.aspx") %><br />The bus stops outside the airport area, so an airport shuttle (Line no. 5) is needed to reach the bus stop. Bus lines 943, 947, and 950 reach Jerusalem. The cost is about 30 NIS per person.
	</li>
	<li> Rental car - <%= link_to("http://www.iaa.gov.il/en-US/airports/bengurion/CarRentalCompanies/Pages/default.aspx​", "http://www.iaa.gov.il/en-US/airports/bengurion/CarRentalCompanies/Pages/default.aspx​") %>
	</li>
</p>
