<%= form_for @form, html: {class: 'reg_form'} do |f|  %>
	<%= render 'shared/error_messages' %>
	<%= f.label :title %><span style="font-weight:bold"><font color="red"> *</font></span>
	<%= f.select :title, options_for_select([['Mr.','Mr.'], ['Ms.', 'Ms.'], ['Mrs.', 'Mrs.'], ['Miss.', 'Miss.'], ['Dr.', 'Dr.'], ['Prof.', 'Prof.']]) %>

	<%= f.label :lastName, "Last name" %><span style="font-weight:bold"><font color="red"> *</font></span>
	<%= f.text_field :lastName, class: 'details' %>

	<%= f.label :firstName %><span style="font-weight:bold"><font color="red"> *</font></span>
	<%= f.text_field :firstName, class: 'details'%>

	<%= f.label :passport, "Passport number" %><span style="font-weight:bold"><font color="red"> *</font></span>
	<%= f.text_field :passport, class: 'details' %>

	<%= f.label :country, "Country" %>
	<%= f.country_select :country, class: 'details', prompt: "Select country" %>

	<%= f.label :citizenship %>
	<%= f.text_field :citizenship, class: 'details' %>

	<%= f.label :email %><span style="font-weight:bold"><font color="red"> *</font></span>
	<%= f.email_field :email, class: 'details' %>
	
	<%= f.label :institutionalAffiliation, "Institutional affiliation" %><span style="font-weight:bold"><font color="red"> *</font></span>
	<%= f.text_field :institutionalAffiliation, class: 'details' %>

	<%= f.label :accommodationType, "I would like to be accommodated in" %><font color="red"> *</font><br />
	<%= f.radio_button :accommodationType, "Single Room" %>
	<%= f.label :accommodationType_single_room, "Single Room", class: 'radios_checks_label' %><br />
	
	<%= f.radio_button :accommodationType, "Twin Room" %>
	<%= f.label :accommodationType_twin_room, "Twin Room", class: 'radios_checks_label' %><br />
	<div id="share_details">
		Please provide the name of participant sharing with (request only)<br />
		<%= f.text_field :twin_share_with %><br/>
		Participants will be assigned in shared rooms at the discretion of the organizing company.
	</div>

	<%= f.radio_button :accommodationType, "Double Room" %>
	<%= f.label :accommodationType_double_room, "Double Room", class: 'radios_checks_label' %><br />
	<div id="share_details">
		<!-- %= f.label :doubleRoomShare, "I am planning to be accompanied by" % -->
		<!-- %= f.number_field :accompaniedBy, id: "share_number" % -->
		I am planning to be accompanied by person. 
		Please provide the name of accompanying spouse you plan to share the room with:<br />
		<%= f.label :spouse_name, "Name of accompanying spouse" %>
		<%= f.text_field :spouse_name, class: 'details' %>
		<%= f.label :spouse_passport, "Passport number" %>
		<%= f.text_field :spouse_passport, class: 'details' %>
		<%= f.label :spouse_country, "Country" %>
		<%= f.country_select :spouse_country, class: 'details', prompt: "Select country" %>
	</div>
	<div style="color:#006699">
	<span style="font-weight:bold;">I would like to be in Park Prima Hotel:</span><br/>
		<div style="padding-left:30px;">
			<%= f.radio_button :accommodationType, "Prima Single Room" %>
			<%= f.label :accommodationType_prima_single_room, "Single Room", class: 'radios_checks_label' %><br />
			<%= f.radio_button :accommodationType, "Prima Double Room" %>
			<%= f.label :accommodationType_prima_double_room, "Double Room", class: 'radios_checks_label' %><br />
			<div id="share_details">
				<!-- %= f.label :doubleRoomShare, "I am planning to be accompanied by" % -->
				<!-- %= f.number_field :accompaniedBy, id: "share_number" % -->
				I am planning to be accompanied by person. 
				Please provide the name of accompanying spouse you plan to share the room with:<br />
				<%= f.label :PrimaSpouse, "Name of accompanying spouse" %>
				<%= f.text_field :PrimaSpouse, class: 'details' %>
				<%= f.label :PrimaSpousePassport, "Passport number" %>
				<%= f.text_field :PrimaSpousePassport, class: 'details' %>
				<%= f.label :PrimaSpouseCountry, "Country" %>
				<%= f.country_select :PrimaSpouseCountry, class: 'details', prompt: "Select country" %>
			</div>
		</div>
	</div>

	<%= f.radio_button :accommodationType, "No Accommodation" %>
	<%= f.label :accommodationType_no_accomodation, "No Accommodation", class: 'radios_checks_label' %><br />

	<div style="font-weight: bold; margin-top: 20px; margin-bottom: 5px;">
		One day participation in conference - please choose dates:
	</div>

	<%= f.check_box :June22 %>
	<%= f.label(:June22, "June 22nd, 2015", class: 'radios_checks_label') %><br />
	
	<%= f.check_box :June23 %>
	<%= f.label(:June23, "June 23rd, 2015", class: 'radios_checks_label') %><br />
	
	<%= f.check_box :June24 %>
	<%= f.label(:June24, "June 24th, 2015", class: 'radios_checks_label') %><br />
	
	<%= f.check_box :June25 %>
	<%= f.label(:June25, "June 25th, 2015", class: 'radios_checks_label') %><br />

	<div style="font-weight: bold; margin-top: 20px; margin-bottom: 5px;">I would like to have:</div>
	<%= f.check_box :presentationPoster %> 
	<%= f.label(:presentationPoster, "Poster presentation", class: 'radios_checks_label') %><br />
	<%= f.check_box :presentationOral %> 
	<%= f.label(:presentationOral, "Oral presentation", class: 'radios_checks_label') %><br />

	<div style="padding-top:20px;">
		<span style="font-weight:bold;">I would need extra nights before June 21st, from:</span>
		<%= f.date_field :extraNightsBefoe, max: Date.new(2015,6,20) %>

		<span style="font-weight:bold;">I would need extra nights after June 26th, until:</span>
		<%= f.date_field :extraNightsAfter, min: Date.new(2015,6,27) %>
	</div>

	<div style="font-weight: bold; padding-top:20px;">I would like to participate in the following activities / tours:</div>
	<div style="margin-top: 10px; margin-bottom: 5px;">1. Jerusalem & Bethlehem tour:</div>
	
	<%= f.radio_button :jerusalem_tour, "Monday, June 22, 2015" %>
	<%= f.label :jerusalem_tour_Monday__June_22__2015, "Monday, June 22, 2015", class: 'radios_checks_label' %><br />

	<%= f.radio_button :jerusalem_tour, "Friday, June 26, 2015" %>
	<%= f.label :jerusalem_tour_Friday__June_26__2015, "Friday, June 26, 2015", class: 'radios_checks_label' %><br />
	
	<%= f.label :jerusalem_participants, "Number of participants" %>
	<%= f.number_field :jerusalem_participants, id: "share_number" %>

	<div style="margin-top: 10px; margin-bottom: 5px;">2. Dead Sea & Masada tour:</div>

	<%= f.radio_button :deadsea_tour, "Friday, June 26, 2015" %>
	<%= f.label :deadsea_tour_Friday__June_26__2015, "Friday, June 26, 2015", class: 'radios_checks_label' %><br />

	<%= f.radio_button :deadsea_tour, "Saturday, June 27, 2015" %>
	<%= f.label :deadsea_tour_Saturday__June_27__2015, "Saturday, June 27, 2015", class: 'radios_checks_label' %><br />

	<%= f.label :deadsea_participants, "Number of participants" %>
	<%= f.number_field :deadsea_participants, id: "share_number" %>

	<div style="margin-top: 10px; margin-bottom: 5px;">3. Nazareth & Sea of Galilee tour:</div>

	<%= f.radio_button :nazareth_tour, "Friday, June 26, 2015" %>
	<%= f.label :nazareth_tour_Friday__June_26__2015, "Friday, June 26, 2015", class: 'radios_checks_label' %><br />

	<%= f.radio_button :nazareth_tour, "Saturday, June 27, 2015" %>
	<%= f.label :nazareth_tour_Saturday__June_27__2015, "Saturday, June 27, 2015", class: 'radios_checks_label' %><br />

	<%= f.label :nazareth_participants, "Number of participants" %>
	<%= f.number_field :nazareth_participants, id: "share_number" %>


	<div style="margin-top: 10px; margin-bottom: 5px;">4. Caesarea, Acre & Rosh HaNikra tour:</div>

	<%= f.radio_button :caesarea, "Friday, June 26, 2015" %>
	<%= f.label :caesarea_Friday__June_26__2015, "Friday, June 26, 2015", class: 'radios_checks_label' %><br />

	<%= f.radio_button :caesarea, "Saturday, June 27, 2015" %>
	<%= f.label :caesarea_Saturday__June_27__2015, "Saturday, June 27, 2015", class: 'radios_checks_label' %><br />

	<%= f.label :caesarea_participants, "Number of participants" %>
	<%= f.number_field :caesarea_participants, id: "share_number" %>
	
	<div style="font-weight: bold; padding-top:20px;">Payment Method:<font color="red"> *</font></div>
	
	<%= f.radio_button :PaymentMethod, "Credit card" %>
	<%= f.label :PaymentMethod_credit_card, "Credit card", class: 'radios_checks_label' %><br />

	<%= f.radio_button :PaymentMethod, "Bank transfer" %>
	<%= f.label :PaymentMethod_bank_transfer, "Bank transfer", class: 'radios_checks_label' %>
	<div style="margin-left:25px;">Please note! Registration is not complete until full payment has been provided. Please send transfer confirmation to organizing committee. You will receive final approval by email when transfer confirmed.</div>

	<br />
	<%= f.label :specialRequests, "Special requests:" %>
	<%= f.text_area :specialRequests, size: "95x10" %><br />
	<%= f.submit "Submit my registration!", class: "btn btn-large" %>


	<div style="font-weight:bold; padding-top: 10px; font-size: 1.1em">
		For more information or help, we will be glad to assist you by email:<br />
	</div>
	<div style="margin-left: 10px; margin-top: 5px; font-size: 1.05em; line-height: 150%">
		Mrs. Galit Albocher: <a href="mailto:galital@aviation-links.co.il">galital@aviation-links.co.il</a><br />
		Mrs. Nurit Nevet: <a href="mailto:nurit.nevet@aviation-links.co.il">nurit.nevet@aviation-links.co.il</a><br />
	</div>
<% end %>