<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>Isotopes 2015 Conference</h3>
    <p>
      <%= @payed_user.title %> <%= @payed_user.lastName %> <%= @payed_user.firstName %>, <br />
      This is to confirm you have successfully signed up to Isotopes 2015 conference!<br />
      Here is a summary of your registration:<br />
      <ul>
        <li>Room type and fee:
        <% if @roomPrice > 0 %>
          <%= @roomType %>, <%= @roomPrice %> € (Euro)
        <% else %>
          Not Applicable
        <% end %>
        </li>
        <li>Conference participation fee: <%= @confPrice %></li>
      </ul>
    </p>
    <p>We look forward to seeing you!</p>
  </body>
</html>