<% provide(:title, 'Payment') %>
<h3>
	Payment details for <%= @result.title %> <%= @result.lastName %> <%= @result.firstName %>
</h3>
<h4><%= @result.email %></h4>
<ol>
	<li>
		<span style="font-weight:bold;">Room type:</span> <%= @roomType %>,
		<span style="font-weight:bold;">Price:</span> <%= @roomPrice %> € (Euro)
	</li>
	<% if user_signed_in? %>
		<% if @moreNightsBefore > 0 %>
			<li>
				<span style="font-weight:bold;">Extra Nights before conference:</span>
				<%= @moreNightsBefore %>, 
				<span style="font-weight:bold;">Total Price:</span> <%= @moreNightsBeforeTotal %> € (Euro)
			</li>
		<% end %>

		<% if @moreNightsAfter > 0 %>
			<li>
				<span style="font-weight:bold;">Extra Nights after conference:</span>
			 	<%= @moreNightsAfter %>, 
			 	<span style="font-weight:bold;">Total Price:</span> <%= @moreNightsAfterTotal %> € (Euro)
			</li>
		<% end %>
	<% end %>
	
	<li>
		<span style="font-weight:bold;">Conference Price: </span><%= @confPrice %>
		<% if not @confPrice.instance_of? String %>
			€ (Euro)
		<% end %>
	</li>
</ol>
<span style="font-weight:bold;">Total Price:</span> <%= @totalPrice %> € (Euro)<br />

<div style="margin-top:10px; font-weight: bold; color:#336699;">
	Please contact us if you believe the details above are incorrect
	(with '<%= @result.id %>' as reference number).
</div>

<div style="margin-top:15px; font-weight:bold; font-color: #336699; font-size: 1.1em">
<u><%= link_to "Click here to pay and complete conference registration", @pay_link %></u> <br />
<span style="font-size: 0.85em;">
	(Note that you will be redirected to a secured and encrypted website to fill in your credit card details)
</span>
</div>