<ul class="nav nav-pills nav-stacked">
	<li class="<%= is_active?(home_path) %>"><%= link_to "Home", home_path %></li>
	<li class="<%= is_active?(venue_path) %>"><%= link_to "Conference Venue", venue_path %></li>
	<li class="<%= is_active?(program_path) %>"><%= link_to "Program", program_path %></li>
	<li class="<%= is_active?(payment_path) %>"><%= link_to "Payment", payment_path %></li>
	<li class="<%= is_active?(organizers_path) %>"><%= link_to "Organizers Committee", organizers_path %></li>
</ul>